<!DOCTYPE html>
<html lang="en">
    <%- include('header') -%>
<body>
    <div class="jumbotron">
        <div class="container">
            <div class="d-flex justify-content-center align-items-center vh-100">
                <p>Something went Wrong. Try again. Click Here to login: <a href="${process.env.FRONTEND_URL}">Login</a></p>
            </div>
        </div>
    </div>
    <%- include('footer') -%>
</body>
</html>
